PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/intexa_backend?retryWrites=true&w=majority&appName=<app-name>
RESEND_API_KEY=<your-resend-api-key>
ZOHO_ACCESS_TOKEN=<your-zoho-access-token>
ZOHO_API_URL=https://www.zohoapis.com/crm/v2/Leads
WHATSAPP_API_KEY=<your-whatsapp-api-key>
WHATSAPP_PHONE_NUMBER_ID=<your-whatsapp-phone-number-id>
WHATSAPP_API_URL=https://graph.facebook.com/v22.0